.under-construction {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.under-construction img {
    border-radius: 20%;
    max-width: 40%;
    min-width: 250px;
}

.under-construction .img__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.under-construction .img__title h1 {
    text-align: center;
}

.under-construction .img__title h2 {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 480px) {
    .under-construction .img__title h1 {
        font-size: 3rem;
    }
    
    .under-construction .img__title h2 {
        font-size: 2rem;
    }
}