.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #495E57;
    color: #FFFFFF;
}

.footer .container {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}

.footer .footer-logo {
    grid-column: 1;
    width: 6.875rem;
    min-width: 6.875rem;
}

.footer h4 {
    text-transform: uppercase;
    letter-spacing: 0.12rem;
    margin-bottom: 1rem;
}

.footer-nav {
    grid-column: 2;
}

.footer-nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.footer-nav li a {
    color: #FFFFFF;
}

.footer-nav a:hover, 
.footer-nav a:focus {
  color: #F4CE14;
}

.footer-contact {
    grid-column: 3;
    min-width: 17.5rem;
}

.footer-contact address {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 0.5rem
}
  
.contact-info svg {
    min-width: 1rem;
}

.footer-socials {
    grid-column: 4;
}

.footer-socials h4 {
    text-align: right;
}

.icons-container {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
}

.icons-container a {
    color: #FFFFFF;
}

.icons-container a:hover {
    color: #F4CE14;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (max-width: 927px) {
    .footer .container {
      grid-template-columns: repeat(3, auto);
      grid-template-rows: auto auto;
    }
    
    .footer-socials {
      grid-column: 1;
      grid-row: 2;
      margin-top: 2rem;
    }

    .footer-socials h4 {
        text-align: unset;
    }

    .icons-container {
        justify-content: unset;
    }
}
    
@media (max-width: 789px) {
    .footer .container {
        grid-template-columns: auto auto;
    }

    .footer-contact {
        grid-column: 1;
        grid-row: 2;
        margin-top: 2rem;
    }

    .footer-socials {
        grid-column: 2;
    }

    .footer-socials h4 {
        text-align: unset;
    }

    .icons-container {
        justify-content: unset;
    }
}
    
@media (max-width: 576px) {
    .footer .container {
        grid-template-columns: auto;
        justify-content: center;
    }

    .footer .footer-logo {
        grid-row: 1;
        width: 60%;
        margin: 0 auto;
    }

    .footer-nav {
        grid-column: 1;
        grid-row: 2;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-contact {
        grid-row: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-contact .contact-info {
        display: flex;
        justify-content: center;
    }

    .footer-socials {
        grid-column: 1;
        grid-row: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-socials h4 {
        text-align: unset;
    }

    .icons-container {
        justify-content: center;
    }
}