* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: Karla, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #495E57;
    /* overflow-x: hidden; */
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1, h2 {
    line-height: 1;
    font-family: "Markazi Text";
    font-weight: normal;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

img {
    max-width: 100%;
}

.container {
    max-width: 54.625rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
}

.button-primary {
    padding: 0.5rem 1rem;
    background-color: #F4CE14;
    color: #333333;
    font-weight: bold;
}

.btn-container {
    border-radius: 0.8rem;
    background-color: #F4CE14;
    transition: 0.3s ease all;
    position: relative;
    overflow: hidden;
}

.btn-a {
    height: 100%;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    background: transparent;
}

.btn-container:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #FFE35D
}

.btn-container:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}